@import "~src/colors";

.body {
  display: grid;
  grid-template-columns: 400px auto 400px;
  min-height: 100%;

  .left-panel {
    display: flex;
    -webkit-box-shadow: 0px 0px 10px -5px #000000;
    box-shadow: 0px 0px 10px -5px #000000;
    background-color: white;
    z-index: 10;
  }

  .middle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $gray-light;
    background-size: 186%;
    background-position: center;
  }

  .right-panel {
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 10px -5px #000000;
    box-shadow: 0px 0px 10px -5px #000000;
    background-color: white;
    padding-top: 30px;

    .right-panel-border {
      background-color: red;
      width: 6px;
      height: 100%;
      -webkit-box-shadow: 5px 0px 4px 2px rgba(0, 0, 0, 0.3);
      box-shadow: 5px 0px 4px 2px rgba(0, 0, 0, 0.3);
      background-image: -webkit-linear-gradient($gray-light, grey);
      padding: 4px;
      background: linear-gradient(
        -90deg,
        $gray-light 0%,
        $gray-light 10%,
        #585858 56%,
        #585858 100%
      );
    }

    .footer {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-right: 60px;
      margin-top: auto;
      height: 100px;
      width: 400px;
    }

    .footer-right {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding-right: 60px;
      margin-top: auto;
      height: 100px;
      width: 400px;
    }

    .footer-error {
      padding: 5px;
      padding-left: 30px;
      margin-right: 20px;
      font-weight: bold;
      font-size: 11px;
    }

    .part-cancel {
      margin-right: 20px !important;
    }
  }

  .part-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    .title-part {
      font-weight: bold;
      font-size: 26px;
      margin-bottom: 20px;
    }

    .label {
      font-size: 20px;
      font-weight: 600;
      color: black;
    }

    .input-basic {
      border-radius: 5px;
      border-color: #cccccc;
      border-style: solid;
      font-size: 20px;
      height: 30px;
      padding-left: 5px;
      border-width: 1px;
    }

    .input-text-area {
      height: 150px;
    }

    .types {
      display: flex;
      min-height: 50px;

      .chack-cont {
        display: block;
        position: relative;
        padding-left: 10px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin-right: 45px;
      }

      /* Hide the browser's default radio button */
      .chack-cont input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }

      /* Create a custom radio button */
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 45px;
        width: 45px;
        background-color: white;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
        -webkit-box-shadow: 0px 0px 8px -2px #000000;
        box-shadow: 0px 0px 8px -2px #000000;
        margin-top: 5px;
      }

      .chack-cont:hover input ~ .checkmark {
        background-color: #779bd1;
      }

      .chack-cont input:checked ~ .checkmark {
        color: white;
        background-color: #2a589d;
      }

      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }

      .chack-cont input:checked ~ .checkmark:after {
        display: block;
      }
    }
  }

  .ability-wrapper {
    padding-bottom: 10px;
    .ability-added {
      display: flex;
      align-items: center;
      height: 40px;
      border-bottom: $gray-light 1px solid;

      .ability-button {
        color: black;
        cursor: pointer;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s color;
      }
      .ability-button:hover {
        color: $blue;
      }
      .edit {
        margin-left: auto;
      }
      .delete {
        margin-left: 10px;
      }
    }
  }

  .part-input-left {
    margin-right: 30px;
    margin-left: 70px;
  }

  .part-input-right {
    margin-right: 70px;
    margin-left: 30px;
  }

  .title {
    margin-bottom: 10px;
    margin-top: 20px;
  }
}

.border {
  border-radius: 10px;
  background-image: -webkit-linear-gradient(#345799, #002366, #001b4d);
  padding: 4px;

  .border-d {
    border-radius: 8px;
    padding: 3px;
    background-color: #345799;
    -webkit-box-shadow: 0px 0px 5px 1px #345799;
    box-shadow: 0px 0px 5px 1px #345799;

    .border-inner {
      border-radius: 6px;
      -webkit-box-shadow: inset 0px 0px 5px 6px rgba(0, 0, 0, 0.7);
      box-shadow: inset 0px 0px 5px 6px rgba(0, 0, 0, 0.7);
      padding: 5px;

      .border-inner-inner {
        border-radius: 4px;
        background-image: -webkit-linear-gradient($gray-light, grey);
        padding: 4px;

        .border-inner-inner-inner {
          min-height: 24px;
          border-radius: 3px;
          background-color: $gray-light;
          -webkit-box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.7);
          box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.7);
          padding: 4px;
        }
      }
    }
  }
  textarea,
  input {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-family: url("src/assets/fonts/MedievalSharp-Regular.ttf") !important;
  }
}

.border-inner-inner:hover {
  -webkit-box-shadow: inset 0px 0px 5px 6px rgba(255, 255, 255, 0.7);
  box-shadow: inset 0px 0px 5px 6px rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.7);
}
