@import "~src/colors";

$card-height: 315px;
$card-width: 200px;

.content {
  width: $card-width;
  height: $card-height;
  background-color: $gray-light;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 8px -2px #000000;
  box-shadow: 0px 0px 8px -2px #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url("src/assets/noise.png");
  background-size: cover;
  background-position: center;

  .image-content {
    box-sizing: border-box;
    margin-top: 10px;
    width: 180px;
    height: 180px;
    background-color: white;
    border-radius: 4px;
    border: 2px solid grey;
    background-size: cover;
    background-position: center;
  }

  .image-wrapper {
    box-sizing: border-box;
  }

  .desc-content {
    box-sizing: border-box;
    margin-top: 4px;
    width: 180px;
    height: 110px;
    background-color: white;
    border-radius: 8px;
    padding: 4px;
    font-size: 12px;

    .name {
      text-align: center;
      height: 13px;
      font-size: 13px;
      margin-bottom: 5px;
      font-weight: bold;
    }
  }

  .floating {
    box-sizing: border-box;
    font-size: 19px;
    font-weight: bold;
    position: absolute;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .info-bttn-float {
    border: none;
    height: 30px !important;
    left: $card-width - 25px;
  }

  .info-bttn-float:hover {
    color: $blue;
    cursor: pointer;
  }

  .type {
    width: 36px;
    height: 36px;
    border-radius: 5px;
    background-color: white;
    left: 5px;
    top: 5px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
    border: 2px solid grey;
  }

  .attack {
    width: 52px;
    height: 26px;
    border-radius: 5px;
    background-color: white;
    left: 5px;
    top: $card-height - 32px;
    color: white;
    z-index: 10;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
    border: 2px solid grey;
  }

  .health {
    width: 52px;
    height: 26px;
    border-radius: 5px;
    background-color: white;
    left: $card-width - 55px;
    top: $card-height - 32px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
    border: 2px solid grey;
  }

  .sword-right {
    border: none;
    width: 52px;
    height: 26px;
    border-radius: 5px;
    left: 1px;
    top: $card-height - 52px;
    z-index: 11;
    transform: scaleX(-1);
  }
  .sword-left {
    border: none;
    width: 52px;
    height: 26px;
    border-radius: 5px;
    left: -0px;
    top: $card-height - 52px;
    z-index: 11;
  }

  .shield {
    border: none;
    width: 52px;
    height: 26px;
    border-radius: 5px;
    left: $card-width - 55px;
    top: $card-height - 52px;
    color: white;
    z-index: 11;
  }
}
