/* You can add global styles to this file, and also import other style files */
@import "~src/colors";
html,
body {
  height: 100%;
  margin: 0;
  font-family: url("src/assets/fonts/MedievalSharp-Regular.ttf") !important;
  background-color: $gray-light;
  color: $gray-very-dark;
}

input {
  font-family: url("src/assets/fonts/MedievalSharp-Regular.ttf") !important;
}
