/* You can add global styles to this file, and also import other style files */
@import "~src/colors";
html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial;
  background-color: $gray-light;
  color: $gray-very-dark;
}
